/*
Component Styles:

No need to Namespace or BEM, build process
takes care of ensuring unique class names

*/
.container {
    padding: 1em;
    color: red;

    &__icon {
        color: purple;
    }
}
.name {
    color: green;
    &:after {
        content: ': ';
        /*display: block;*/
    }
}
.points {
    color: blue;
}
.image {
    display: block;
    max-width: 3em;
    transition: transform .2s linear;

    &:hover {
        transform: scale(3)rotateZ(9deg);
    }
}
