.container {
    padding: 1em;
    color: red;

    &__icon {
        color: purple;
    }
}
.name {
    color: green;
    &:after {
        content: ': ';
        /*display: block;*/
    }
}
.points {
    color: blue;
}
.image {
    display: block;
    max-width: 3em;
}
